<html>
	<head>
		<title>Spuzik</title>
		<link rel="shortcut icon" href="/data/img/spuzik_icon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="data/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="data/css/css/bootstrap-glyphicons.css" />
		<link rel="stylesheet" type="text/css" href="main4.css" />
	</head>
	<body>
		<script id="feedTemplate" type="text/template">
			<div class="info">
				<span class="glyphicon glyphicon-remove remove-feed-item"></span>
				<span class="glyphicon glyphicon-flag flag-feed-item"></span>
				<img class="img-rounded" src="<%= profile_pic %>" />
				<a href="#"><%= name %></a>
			</div>
			<div class="content">
				<%= content %>
			</div>
			<div class="actions">
				<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
					<tr>
						<td valign="top">
							<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
							<div class="expand-comments">
								<span class="glyphicon glyphicon-eye-open"></span> <%= comment_amount %> Comments
							</div>
							<div class="comments"></div>
						</td>
						<td valign="top" width="100px;">
							<div class="comment-controls">
								<span class="date"><%= date %></span><br />
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount"><%= claps %></span></button></td>
										<td width="30px;"><button type="button" class="btn btn-mini custom-yellow"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
									</tr>
								</table>
								<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
							</div>
						</td>
					</tr>
				</table>
			</div>
		</script>

		<script id="commentTemplate" type="text/template">
			<div class="comment">
				<a href="#"><%= name %></a> <%= comment %>
			</div>
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script src="/data/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="http://documentcloud.github.io/backbone/backbone-min.js"></script>
		<script src="main.js"></script>
		<script src="data/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
		<script src="http://blog.guilhemmarty.com/flippy/jquery.flippy.min.js"></script>

		<div id="header">
			<table border="0" cellpadding="0" cellspacing="0" width="100%;" height="63px;" style="max-height:63px;">
				<tr>
					<td width="262px;">
						<!-- LOGO PLACEHOLDER -->
						<div style="width:262px;"></div>
					</td>
					<td width="38%;" valign="center">
						<div class="search">
							<button type="button" class="btn btncustomred"><span class="glyphicon glyphicon-search"></span></button>
							<div class="input-holder">
								<input type="text" class="form-control" placeholder="Search..." />
							</div>
						</div>
					</td>
					<td valign="center" width="355px;" align="right">
						<div class="music-player">
							<div class="bg-player">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<button type="button" class="btn btncustomblue playlist-control"><span class="glyphicon glyphicon-list"></span> Classic Rock</button>
										</td>
										<td>
											<button type="button" class="btn btncustomred main-control"><span class="glyphicon glyphicon-play"></span></button>
										</td>
										<!--<td>
											<div class="action-panel">
												<button class="btn btn-mini btn-primary"><span class="glyphicon glyphicon-backward"></span></button>
											</div>
										</td>-->
										<td>
											<img src="http://images.gs-cdn.net/static/albums/80_134218.png" width="38px;" height="38px;" />
										</td>
										<td>
											<span class="song">Gimme Shelter</span><br />
											<span class="artist">The Rolling Stones</span>
										</td>
										<!--<td>
											<div class="action-panel">
												<button class="btn btn-mini btn-primary"><span class="glyphicon glyphicon-forward"></span></button>
											</div>
										</td>-->
									</tr>
								</table>
							</div>
						</div>
					</td>
					<td width="200px;" valign="center">
						<div class="login-info">
							<button type="button" class="btn btn-link profile-button" style="position:relative; bottom:5px;"><span class="glyphicon glyphicon-arrow-left" style="color:black; font-size:25px;"></span></button>
							<div class="placecard">
								<table border="0" cellpadding="0" cellspacing="0" width="100%;">
									<tr>
										<td rowspan="2"><!--<b>Glenn Dayton</b>--></td>
										<td><button type="button" class="btn btn-mini btncustomblue"><span class="glyphicon glyphicon-cog"></span> Settings</button></td>
									</tr>
									<tr>
										<td><button type="button" class="btn btn-mini btn-danger">Sign out</button></td>
									</tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div id="main">
			<div class="row">
				<div class="col-lg-3 whiter">
					<script type="text/javascript">
					$(document).ready(function(){
						$(".lineup-item").mouseenter(function(){
							var img_url = $(this).attr("data-img");
							$(this).css("background-image","url('"+img_url+"')");
						}).mouseleave(function(){
							$(this).css("background-image","");
						});

						$(".user-login, .user-menu-big").click(function(){
							$(".user-menu").toggle();
						});
					});
					</script>
					<div id="profile">
						<img src="http://www.shoot.co.uk/wp-content/uploads/2013/07/avb.jpg" />
						<!-- http://i42.tinypic.com/2v7tlif.png -->
						<div class="info">
							<span class="name">Ollie Schindler</span><br />
							<span class="live">Calabasas, CA</span>
						</div>
					</div>
					<!--<img src="http://2.bp.blogspot.com/-bsTwA3N6pkI/UfAyIKLXXMI/AAAAAAAAAJ0/lNLFfbAS2Lo/s320/e_200200.gif" />-->
					<div class="lineup">
						<div class="lineup-item" data-img="http://www.chromedreams.co.uk/ekmps/shops/chromedreams/images/led-zeppelin-the-document-551-p.jpg">
							<div class="lineup-item-align">
								<span class="order-number">1</span><span class="lineup-text">Led Zeppelin</span>
							</div>
						</div>
						<div class="lineup-item" data-img="http://blogs.artinfo.com/objectlessons/files/2012/11/pink-floyd.jpg">
							<div class="lineup-item-align">
								<span class="order-number">2</span><span class="lineup-text">Pink Floyd</span>
							</div>
						</div>
						<div class="lineup-item" data-img="http://web-images.chacha.com/brazil-soccer/brazil-soccer-dec-9-2010-200.jpg">
							<div class="lineup-item-align">
								<span class="order-number">3</span><span class="lineup-text">Football</span>
							</div>
						</div>
						<div class="lineup-item" data-img="http://www.americanbluesscene.com/wp-content/uploads/2013/05/Rolling-Stones.jpg">
							<div class="lineup-item-align">
								<span class="order-number">4</span><span class="lineup-text">The Rolling Stones</span>
							</div>
						</div>
						<div class="lineup-item" data-img="http://3.bp.blogspot.com/-E_U_9ARS50E/UZTK4fV9zLI/AAAAAAAAAU4/vtUk8t37czs/s320/6293WhiteHartLaneStadium_pic1.jpg">
							<div class="lineup-item-align">
								<span class="order-number">5</span><span class="lineup-text">White Hart Lane</span>
							</div>
						</div>
						<div class="lineup-item" data-img="https://timfusciardi.files.wordpress.com/2012/06/avb_2722247.jpg">
							<div class="lineup-item-align">
								<span class="order-number">6</span><span class="lineup-text">AVB</span>
							</div>
						</div>
						<div class="lineup-item" data-img="http://www.playgolfamarillo.com/wp-content/uploads/2013/02/ball.jpg">
							<div class="lineup-item-align">
								<span class="order-number">7</span><span class="lineup-text">Golf</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 whiter">
					<!--<div class="row">
						<div class="col-sm-8">
							<img src="http://oi43.tinypic.com/2yuhkeq.jpg" />
						</div>
						<div class="col-sm-4">
							<div class="navigation">
								nav area
							</div>
						</div>
					</div>-->
					<div id="sli-tab">
						<table border="0" cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td>
									<div class="img-cons">
										<img src="http://online.wsj.com/media/0827pod10.jpg" style="width:518px; height:324px;"/>
										<!-- http://mlblogsdeconstructingthoughts.files.wordpress.com/2009/07/garrett20atkins00041.jpg?w=518&h=323 -->
									</div>
								</td>
								<td valign="top" width="30%;">
									<div class="navigation">
										<ul>
											<li><div class="arrow-left"></div><span class="glyphicon glyphicon-user" style="color:yellow;"></span> Me</li>
											<li><span class="glyphicon glyphicon-picture" style="color:yellow;"></span> Media</li>
											<li><span class="glyphicon glyphicon-music" style="color:yellow;"></span> My Tunes</li>
											<li><span class="glyphicon glyphicon-list" style="color:yellow;"></span> Links</li>
											<li><span class="glyphicon glyphicon-comment" style="color:yellow;"></span> Live <span class="glyphicon glyphicon-exclamation-sign app-alert"></span></li>
											<li><span class="glyphicon glyphicon-fullscreen" style="color:yellow;"></span> Zone Out</li>
										</ul>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="feed-head-top">
						<ul>
							<li><span class="glyphicon glyphicon-bullhorn"></span> Sports</li>
							<li><span class="glyphicon glyphicon-music"></span> Music</li>
							<li><img src="https://cdn4.iconfinder.com/data/icons/brightmix/128/monotone_target.png" style="width:22px; height:22px;" /> Suggestions</li>
						</ul>
						<div class="feed-ind">
							<div class="arrow-up" style="margin-left:6px;"></div>
						</div>
					</div>
					<div id="feed-area">
						<div id="feed">
							<div class="info">
								<span class="glyphicon glyphicon-remove remove-feed-item"></span>
								<span class="glyphicon glyphicon-flag flag-feed-item"></span>
								<img class="img-rounded" src="http://54.243.129.126/usr_content/pics/514bd1c5ba8c6_t.jpg" />
								<a href="#">Jake Cohen</a>
							</div>
							<div class="content">
								I'm sure this will be the permanent change for the website!
								<img src="http://static6.businessinsider.com/image/51dd75f46bb3f78410000000/7-fascinating-facts-about-boobs-in-sports-from-the-espn-article-everyone-is-freaking-out-about.jpg" />
							</div>
							<div class="actions">
								<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
									<tr>
										<td valign="top">
											<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
											<div class="expand-comments">
												<span class="glyphicon glyphicon-eye-open"></span> 3 Comments
											</div>
											<div class="comments"></div>
										</td>
										<td valign="top" width="100px;">
											<div class="comment-controls">
												<span class="date">3 days ago</span><br />
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount">5</span></button></td>
														<td width="30px;"><button type="button" class="btn btn-mini custom-yellow respond-button"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
													</tr>
												</table>
												<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="feed">
							<div class="info">
								<span class="glyphicon glyphicon-remove remove-feed-item"></span>
								<span class="glyphicon glyphicon-flag flag-feed-item"></span>
								<img class="img-rounded" src="http://54.243.129.126/usr_content/pics/514bd1c5ba8c6_t.jpg" />
								<a href="#">Jake Cohen</a>
							</div>
							<div class="content">
								I'm sure this will be the permanent change for the website!
								<img src="" />
							</div>
							<div class="actions">
								<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
									<tr>
										<td valign="top">
											<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
											<div class="expand-comments">
												<span class="glyphicon glyphicon-eye-open"></span> 3 Comments
											</div>
											<div class="comments"></div>
										</td>
										<td valign="top" width="100px;">
											<div class="comment-controls">
												<span class="date">3 days ago</span><br />
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount">5</span></button></td>
														<td width="30px;"><button type="button" class="btn btn-mini custom-yellow respond-button"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
													</tr>
												</table>
												<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="feed">
							<div class="info">
								<span class="glyphicon glyphicon-remove remove-feed-item"></span>
								<span class="glyphicon glyphicon-flag flag-feed-item"></span>
								<img class="img-rounded" src="http://54.243.129.126/usr_content/pics/514bd1c5ba8c6_t.jpg" />
								<a href="#">Jake Cohen</a>
							</div>
							<div class="content">
								I'm sure this will be the permanent change for the website!
							</div>
							<div class="actions">
								<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
									<tr>
										<td valign="top">
											<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
											<div class="expand-comments">
												<span class="glyphicon glyphicon-eye-open"></span> 3 Comments
											</div>
											<div class="comments"></div>
										</td>
										<td valign="top" width="100px;">
											<div class="comment-controls">
												<span class="date">3 days ago</span><br />
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount">5</span></button></td>
														<td width="30px;"><button type="button" class="btn btn-mini custom-yellow respond-button"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
													</tr>
												</table>
												<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="feed">
							<div class="info">
								<span class="glyphicon glyphicon-remove remove-feed-item"></span>
								<span class="glyphicon glyphicon-flag flag-feed-item"></span>
								<img class="img-rounded" src="http://54.243.129.126/usr_content/pics/514bd1c5ba8c6_t.jpg" />
								<a href="#">Jake Cohen</a>
							</div>
							<div class="content">
								I'm sure this will be the permanent change for the website!
							</div>
							<div class="actions">
								<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
									<tr>
										<td valign="top">
											<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
											<div class="expand-comments">
												<span class="glyphicon glyphicon-eye-open"></span> 3 Comments
											</div>
											<div class="comments"></div>
										</td>
										<td valign="top" width="100px;">
											<div class="comment-controls">
												<span class="date">3 days ago</span><br />
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount">5</span></button></td>
														<td width="30px;"><button type="button" class="btn btn-mini custom-yellow respond-button"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
													</tr>
												</table>
												<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="feed">
							<div class="info">
								<span class="glyphicon glyphicon-remove remove-feed-item"></span>
								<span class="glyphicon glyphicon-flag flag-feed-item"></span>
								<img class="img-rounded" src="http://54.243.129.126/usr_content/pics/514bd1c5ba8c6_t.jpg" />
								<a href="#">Jake Cohen</a>
							</div>
							<div class="content">
								I'm sure this will be the permanent change for the website!
								<img src="http://sports.pppst.com/banner_sports.gif" />
							</div>
							<div class="actions">
								<table border='0' cellpadding='0' cellspacing='0' width='100%;'>
									<tr>
										<td valign="top">
											<textarea class="form-control comment-enter" rows="3" placeholder="Make a comment..." style="display:none;"></textarea>
											<div class="expand-comments">
												<span class="glyphicon glyphicon-eye-open"></span> 3 Comments
											</div>
											<div class="comments"></div>
										</td>
										<td valign="top" width="100px;">
											<div class="comment-controls">
												<span class="date">3 days ago</span><br />
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%;"><button type="button" class="btn btn-mini custom-yellow" style="width:95%;"><img src="http://i.imm.io/14rOO.png" /><span class="clap-amount">5</span></button></td>
														<td width="30px;"><button type="button" class="btn btn-mini custom-yellow respond-button"><span class="glyphicon glyphicon-comment comment-toggle" style="color:blue;"></span></td>
													</tr>
												</table>
												<!--<button type="button" class="btn btn-mini btn-primary post-comment">Comment</button>-->
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>